body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 62px;
    padding-bottom: 143px;
}

.menu-items{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 140% */
    color: #242635;
    display: flex;
    gap: 28px;
}

a{
    text-decoration: none;
}

a:hover{
    opacity: 50%;
}

a:visited{
    color: black;
}

.logo{
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: -0.25px;
    color: #242635;
}

h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 102px;
    /* identical to box height, or 113% */
    letter-spacing: -2px;
    color: #242635;
}

p{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    /* or 150% */
    text-align: center;
    color: #242635;
    max-width: 573px;
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 47px;
}


@media screen and (min-width: 601px) {
    .fa-solid{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    h1{
        font-size: 72px;
        line-height: 83px;
        /* identical to box height, or 115% */
        letter-spacing: -1.6px;
    }

    header{
        margin-top: 34px;
    }
}


@media screen and (max-width: 600px){
    header{
        margin-top: 11px;
    }

    .menu-item{
        display: none;
    }

    h1{
        font-size: 36px;
        line-height: 40px;
        /* identical to box height, or 110% */
        text-align: center;
        letter-spacing: -0.8px;
    }

    p{
        max-width: 217px;
        font-size: 12px;
        line-height: 18px;
    }

    .responsive{

     }



    }

